#register-main {
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  background-image: url("../img/register_background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#left {
  width: 100%;
}

#right {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 0em 7em;
}

#register-logo {
  width: 40%;
  filter: contrast(1.3);
}

#register {
  width: fit-content;
}
