html {
  background-color: #fff;
  scroll-behavior: smooth;
}

#auth-main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1.2fr;
  background: linear-gradient(
    168deg,
    rgb(206 226 202) 3%,
    rgb(69 181 159) 100%
  );
  padding-right: 7%;
  padding-left: 7%;
  padding-top: 5em;
  padding-bottom: 5em;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#auth-img {
  width: 90%;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 7em;
  gap: 2em;
}

#auth-logo {
  width: 50%;
  filter: contrast(1.3);
  padding: 0.5em 2em 0.5em 1em;
  background: rgb(197, 199, 153);
  background: linear-gradient(
    191deg,
    rgb(159 196 151) 3%,
    rgba(18, 141, 117, 1) 100%
  );
  border-radius: 1em;
  box-shadow: 5px 6px 0px 0px #96b48f80;
  transition-duration: 0.2s;
}

#auth-logo:hover {
  box-shadow: none;
  transform: scale(0.99);
  transition-duration: 0.3s;
}

#auth {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: max-content;
  background-color: #fff;
  padding: 2em 3em;
  border-radius: 2em;
  box-shadow: 11px 10px 0px 0px #6e866852;
  transition-duration: 0.2s;
  border: 1px solid #2f856b;
}

#auth:hover {
  box-shadow: none;
  transform: scale(0.99);
  transition-duration: 0.3s;
}

#auth-link {
  color: #2d885f;
  text-decoration: underline;
}

#password-notice {
  max-width: 29ch;
}

/* HOME PAGE */
#home {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

/* NAVBAR */
#home-logo {
  width: 100%;
  max-height: 2.5rem;
}

.navbar-custom {
  padding: 0.5em 2em 0.5em 1em;
  background: rgb(197, 199, 153);
  background: linear-gradient(
    191deg,
    rgb(159 196 151) 3%,
    rgba(18, 141, 117, 1) 100%
  );

  border-radius: 0.8em;
  transition-duration: 0.2s;
  box-shadow: 5px 6px 0px 0px #bbd9d5;
}

.navbar-custom:hover {
  transform: scale(0.99);
  box-shadow: none;
  transition-duration: 0.3s;
}

.navbar-start > a,
.navbar-start > div > a {
  color: #fff;
}

.navbar-start > a:hover,
.navbar-start > div > a:hover {
  border-radius: 0.5em;
}

.nav-hover:hover {
  background: #b7dfc2 !important;
  color: #027060 !important;
  transition-duration: 0.1s;
  border-radius: 0.7em !important;
}

.custom-green-btn {
  background-color: rgb(18 137 108);
  border-color: rgb(18 137 108);
  color: #fff;
  border-radius: 0.5em;
}

.custom-green-btn:hover {
  color: #fff;
  background-color: rgb(15, 119, 93);
  border-color: rgb(15, 119, 93);
}

.custom-light-btn {
  border-radius: 0.5em;
}

/* HOME HERO */

#home-hero {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
  gap: 1em;
  height: auto;
  border-radius: 3em;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2em;
  padding-bottom: 2em;
  background: rgb(255, 255, 255);
  background: linear-gradient(296deg, #48c78e 3%, rgb(220 243 215) 100%);
  transition-duration: 0.2s;
  box-shadow: 9px 11px 0px 0px #d3eae7;
}

#home-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#home-hero-right {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: start;
}

#hero-img {
  width: 100%;
}

#home-hero:hover {
  transform: scale(0.99);
  box-shadow: none;
  transition-duration: 0.3s;
}

/* CARDS */

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 3em;
}

#card {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 1em;
  padding: 2em 3em;
  background: rgb(255, 255, 255);
  background: linear-gradient(296deg, #bae3d1 3%, rgb(243 243 243) 100%);
  height: auto;
  border-radius: 2em;
  box-shadow: 6px 7px 0px 0px #7dae8e70;
  transition-duration: 0.2s;
}

#card:hover {
  transform: scale(0.99);
  box-shadow: none;
  transition-duration: 0.3s;
}

#card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card-img > img {
  width: 100%;
}

/* FOOTER */

.custom-footer {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background: linear-gradient(
    189deg,
    rgb(152 197 142) 3%,
    rgb(35 141 121) 100%
  );
  padding: 3rem 1.5rem 4rem;
  margin-top: 5%;
}

#footer-text,
#footer-text > strong {
  color: #fff;
}

#footer-text > a {
  color: #fff;
  text-decoration: underline;
}

/* MESSAGES */

.msg-shadow {
  box-shadow: 5px 5px 0px 0px #6e866852;
}

/* ABOUT US */

#index-aboutus-h1 {
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

#index-aboutus-p1 {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 1.6;
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
}

#index-aboutus-link1 {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 1em;
}

#index-aboutus-link2 {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 1em;
}

#index-aboutus-link3 {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 1em;
}

.home-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  height: auto;
  border-radius: 3em;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2em;
  padding-bottom: 2em;
  background: rgb(255, 255, 255);
  background: linear-gradient(296deg, #48c78e 3%, rgb(220 243 215) 100%);
  transition-duration: 0.2s;
  box-shadow: 9px 11px 0px 0px #d3eae7;
  text-align: center;
}

.home-hero-left {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus-cards-container {
  display: flex;
  justify-content: center;
  align-items: justify;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.aboutus-cards-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: justify;
  gap: 3em;
}

.aboutus-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(296deg, #bae3d1 3%, rgb(243 243 243) 100%);
  padding: 1em;
  box-shadow: 6px 7px 0px 0px #7dae8e70;
  width: 500px;
  min-height: 200px;
}

.aboutus-card-title-container {
  font-size: 1.5em;
  margin-bottom: 0.7em;
  text-align: center;
}

.aboutus-card-title {
  font-size: 1.2em;
}

.aboutus-card-description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0em;
  margin-bottom: 2em;
  padding: 0.5em;
  letter-spacing: 1px;
  text-align: left;
  max-width: 90%;
}

#featured-review-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 2em;
  align-self: center;
}

.featured-review-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: justify;
  gap: 3em;
}

.featured-review-background {
  display: grid;
  flex-direction: row;
  align-items: top;
  padding: 1em;
  box-shadow: 0px 0px 6px 6px #7dae8e70;
  width: 620px;
  min-height: 330px;
  margin-left: 43px;
}

.featured-review-profile-image {
  display: block;
  width: 68px;
  height: 68px;
  object-fit: cover;
  margin-right: 1em;
}

.featured-review-header {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.featured-review-username {
  display: block;
  font-weight: bold;
  width: 28%;
  margin-top: -60px;
  margin-left: 75px;
}

.featured-review-content {
  overflow: auto;
  padding: 12px;
  color: #333;
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.9rem;
}

.featured-review-stars {
  margin-left: 71px;
  margin-top: 2px;
}

/* MY SPACE */

/* SPACE MENU */
a[data-li-active] {
  display: flex;
  gap: 0.35em;
  justify-content: center;
  align-items: center;
}

a[data-li-active="true"] {
  padding: 0.5em 1.5em;
  border-radius: 10em;
  background: #deeee3;
  font-weight: 600;
}

/* SPACE MAIN */
#myspace-container {
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  min-height: 100vh;
}

#myspace-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 5em 3em;
  background: url(/static/img/myspace.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 625px;
}

#myspace-left-logo {
  width: 80%;
  filter: contrast(1.3);
  padding: 0.5em 2em 0.5em 1em;
  background: rgb(197, 199, 153);
  background: linear-gradient(
    191deg,
    rgb(159 196 151) 3%,
    rgba(18, 141, 117, 1) 100%
  );
  border-radius: 1em;
  box-shadow: 5px 6px 0px 0px #96b48f80;
  transition-duration: 0.2s;
}

#myspace-left-logo:hover {
  box-shadow: none;
  transform: scale(0.99);
  transition-duration: 0.3s;
}

#myspace-left-user {
  padding: 1em 2em;
  border-radius: 0.5em;
}

#myspace-left-menu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

#myspace-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 4em 3em;
  background-color: #e2efe6;
  /*#edf6ee*/
  border-top-left-radius: 6em;
  border-bottom-left-radius: 6em;
  min-width: 100%;
}

#myspace-main-data,
#myspace-main-data2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}

#myspace-main-quote,
#myspace-main-key {
  background-color: #fff;
  width: 100%;
  height: max-content;
  border-radius: 2em;
  box-shadow: 10px 13px 0px -4px rgb(125 154 134 / 14%);
  padding: 3em;
  transition-duration: 0.2s;
  border: 1px solid #c6c6c6;
}

#myspace-main-metrics,
#myspace-main-timer {
  background-color: #fff;
  width: 100%;
  height: max-content;
  border-radius: 2em;
  box-shadow: 11px 15px 0px -4px rgb(125 154 134 / 14%);
  /*3px 0px 21px -4px rgba(0, 0, 0, 0.1)*/
  padding: 3em;
  transition-duration: 0.2s;
  border: 1px solid #c6c6c6;
}

#myspace-main-quote:hover,
#myspace-main-metrics:hover,
#myspace-main-key:hover,
#myspace-main-timer:hover {
  transform: scale(0.995);
  box-shadow: none;
  transition-duration: 0.3s;
}

#myspace-main-key-container {
  display: flex;
  gap: 0.7em;
}

#assertion {
  background: linear-gradient(to right, #48c78e 0%, #00947e 40%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

#assertion-new {
  background: #deeee3;
  font-weight: 600;
  color: #347649;
  border: none;
}

#metrics-none {
  margin-top: 2em;
  margin-bottom: 1em;
  max-width: 30ch;
  color: #859d8f;
}

#key-container {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 8ch;
  background: #d2fbde;
  border-radius: 0.2em;
  padding: 0.15em 0.15em;
}

#key-copy {
  padding: 0.15em 0.3em;
  height: fit-content;
}

/* SPACE MAIN - COUNTER */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}

.clock:before,
.count:after {
  content: "";
  position: absolute;
}
.clock-wrap {
  margin: auto;
  width: 240px;
  height: 240px;
  margin-top: 2em;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.clock {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  margin-top: -90px;
  margin-left: -90px;
  background-color: #e1ede4;
}
.clock:before {
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: inherit;
  background: linear-gradient(
    191deg,
    rgb(159 196 151) 3%,
    rgba(18, 141, 117, 1) 100%
  );
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    0 0 3px rgba(255, 255, 255, 0.75) inset;
  /*border:1px solid rgba(255,255,255,.1);*/
}
.count {
  width: 100%;
  color: #fff;
  height: 100%;
  padding: 50px;
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  position: absolute;
  text-align: center;
}
.count:after {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  position: relative;
}
.count.sec:after {
  content: "sec";
}
.count.min:after {
  content: "min";
}
.action {
  margin: auto;
  max-width: 200px;
}
.action .time-section {
  margin-top: 30px;
  position: relative;
}
.action .input-num {
  width: 100%;
  border: none;
  padding: 12px;
  border-radius: 60px;
  border: 1px solid #bfdac7;
}
.action .input-btn {
  top: 0;
  right: 0;
  color: #fff;
  border: none;
  border: none;
  padding: 12px;
  position: absolute;
  border-radius: 60px;
  background: linear-gradient(
    191deg,
    rgb(159 196 151) 3%,
    rgba(18, 141, 117, 1) 100%
  );
  text-transform: uppercase;
}
.tbl {
  display: table;
  width: 100%;
}
.tbl .col {
  display: table-cell;
}

/* SPACE JOURNALS */

#myspace-journals-data {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
  gap: 2em;
}

#myspace-journals-history,
#myspace-journals-create {
  background-color: #fff;
  width: 100%;
  height: max-content;
  border-radius: 2em;
  box-shadow: 10px 13px 0px -4px rgb(125 154 134 / 14%);
  padding: 3em;
  transition-duration: 0.2s;
  border: 1px solid #c6c6c6;
}

#myspace-journals-history:hover,
#myspace-journals-create:hover {
  transform: scale(0.995);
  box-shadow: none;
  transition-duration: 0.3s;
}

#myspace-journals-cards {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  overflow: auto;
  max-height: 550px;
  padding: 0em 1em;
}

#myspace-journals-cards::-webkit-scrollbar {
  width: 6px;
}

#myspace-journals-cards::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}

#myspace-journals-cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bdd5d7;
}

#journal-card {
  background: #d2fbde;
  padding: 0.7em 1.5em;
  border-radius: 0.3em;
  /* border: 1px solid #ccc; */
  box-shadow: 3px 6px 0px -4px rgb(125 154 134 / 23%);
  transition-duration: 0.2s;
}

#journal-card:hover {
  transform: scale(0.99);
  transition-duration: 0.3s;
  box-shadow: none;
}

#journal-card > details[open] {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -1em;
  }
  100% {
    opacity: 1;
    margin-top: 0em;
  }
}

#journal-card > details > summary {
  font-weight: 600;
  font-size: 1.2em;
}

#journal-card > details > summary::marker {
  color: #8abc99;
}

#journal-card > details > p {
  margin-top: 1em;
  line-height: 1.7;
  text-align: justify;
  font-size: 1.1em;
}

#journal-date {
  float: right;
}

#journals-none {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #859d8f;
}

#journal-notifications {
  padding: 0em 0em 1em 0em;
}

#journal-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0em 1em 1em 1em;
}

/* CHECKUP */

#checkup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

#checkupq {
  background: linear-gradient(to right, #3ea979 0%, #007c69 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

#checkup-logo {
  width: 35%;
  filter: contrast(1.3);
  padding: 0.5em 2em 0.5em 1em;
  background: rgb(197, 199, 153);
  background: linear-gradient(
    191deg,
    rgb(159 196 151) 3%,
    rgba(18, 141, 117, 1) 100%
  );
  border-radius: 1em;
  box-shadow: 5px 6px 0px 0px #96b48f80;
  transition-duration: 0.2s;
}

#checkup-logo:hover {
  box-shadow: none;
  transform: scale(0.99);
  transition-duration: 0.3s;
}

/* DOCTOR FORM */

#doctor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  height: auto;
  border-radius: 3em;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 3em;
  padding-bottom: 3em;
  transition-duration: 0.2s;
  box-shadow: 9px 11px 0px 0px #d3eae7;
  background: #e2efe6;
  border-radius: 1em;
}

#doctor-form-img {
  max-width: 30%;
}

.portal {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#doctorform {
  width: 32%;
}

input#shareable-key {
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  width: 600px;
  padding: 10px;
  height: 40px;
  border: 1px solid #2f856b;
  border-radius: 0.7em;
  transition-duration: 0.2s;
  font-size: 15px;
  align-items: center;
}

/* 404 NOT FOUND */

#notfound-img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#notfound-title {
  font-weight: bold;
  text-align: center;
}

/* DOCTOR-VIEW */

.popup {
  width: 470px;
  min-height: 280px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  background: linear-gradient(296deg, #f7d369 3%, rgb(243, 237, 200) 100%);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 10000;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 120px;
  height: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup p {
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
}

.popup button {
  width: 60px;
  height: 30px;
  margin-top: auto;
  font-size: 17px;
}

.popup button:hover {
  background-color: #b8b16f;
  outline: None;
  cursor: pointer;
}

#popup-doctor-warning {
  font-weight: 600;
  line-height: 1.7;
  color: #800b0b;
  padding: 0.5em;
}

#black-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  backdrop-filter: blur(20px);
}

#doctor-view {
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  min-height: 100vh;
}

#doctor-view-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

#doctor-view-menu-container {
  color: #70b9e9;
}

#doctor-view-menu a {
  display: block;
  text-decoration: none;
  font-size: 22px;
  color: rgb(128, 128, 128);
  font-weight: bold;
}

#doctor-view-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#doctor-view-menu li {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
}

#doctorview-left-logo {
  width: 60%;
  filter: contrast(1.3);
  padding: 0.5em 2em 0.5em 1em;
  background: rgb(136, 175, 197);
  background: linear-gradient(296deg, #1fa3e0 3%, rgb(154 200 230) 100%);
  border-radius: 1em;
  box-shadow: 5px 6px 0px 0px #8fa8b480;
  transition-duration: 0.2s;
  margin-top: 20%;
}

#doctorview-left-logo:hover {
  box-shadow: none;
  transform: scale(0.99);
  transition-duration: 0.3s;
}

#doctor-view-menu-logo {
  width: 430px;
  height: 300px;
}

#welcome-doctor {
  color: #489dce;
  font-weight: bold;
  font-size: 24px;
}

#personal-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: block;
}

#personal-info-inner {
  display: flex;
  gap: 3em;
}

#data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 4em 3em;
  border-top-left-radius: 6em;
  border-bottom-left-radius: 6em;
  background-color: #d1eaf8;
}

#personal-info {
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 10px 13px 0px -4px rgb(125 154 134 / 14%);
  padding: 3em;
  transition-duration: 0.2s;
  border: 1px solid #c6c6c6;
  color: gray;
}

#personal-info:hover {
  transform: scale(0.995);
  box-shadow: none;
  transition-duration: 0.3s;
}

.personal-info-content {
  display: flex;
  gap: 0.4em;
  align-items: center;
  font-size: 18px;
}

#doctor-metrics-journals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  width: 100%;
}

#doctor-view-checkups-container {
  background-color: #fff;
  width: 50%;
  border-radius: 2em;
  box-shadow: 10px 13px 0px -4px rgb(125 154 134 / 14%);
  padding: 3em;
  transition-duration: 0.2s;
  border: 1px solid #c6c6c6;
  color: gray;
  margin-top: 24%;
  margin-left: 1.5%;
}

#doctor-view-checkups-container:hover {
  transform: scale(0.995);
  box-shadow: none;
  transition-duration: 0.3s;
}

#doctor-journals-history,
#doctor-journals-create {
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 10px 13px 0px -4px rgb(125 154 134 / 14%);
  padding: 3em;
  transition-duration: 0.2s;
  border: 1px solid #c6c6c6;
  min-height: 30vh;
}

#doctor-journals-history:hover,
#doctor-journals-create:hover {
  transform: scale(0.995);
  box-shadow: none;
  transition-duration: 0.3s;
}

#doctor-journals-cards {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  overflow: auto;
  max-height: 550px;
  padding: 0em 1em;
}

#doctor-journals-cards::-webkit-scrollbar {
  width: 6px;
}

#doctor-journals-cards::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}

#doctor-journals-cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bdcbd7;
}

#doctor-journal-card {
  background: #d2effb;
  padding: 0.7em 1.5em;
  border-radius: 0.3em;
  box-shadow: 3px 6px 0px -4px rgb(125 154 134 / 23%);
  transition-duration: 0.2s;
}

#doctor-journal-card:hover {
  transform: scale(0.99);
  transition-duration: 0.3s;
  box-shadow: none;
}

#doctor-journal-card > details[open] {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -1em;
  }
  100% {
    opacity: 1;
    margin-top: 0em;
  }
}

#doctor-journal-card > details > summary {
  font-weight: 600;
  font-size: 1.2em;
}

#doctor-journal-card > details > summary::marker {
  color: #8aacbc;
}

#doctor-journal-card > details > p {
  margin-top: 1em;
  line-height: 1.7;
  text-align: justify;
  font-size: 1.1em;
}

#doctor-journal-date {
  float: right;
}

#doctor-journals-none {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #85959d;
}

#doctor-journal-notifications {
  padding: 0em 0em 1em 0em;
}

#doctor-journal-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0em 1em 1em 1em;
}
