<div id="cards">
  <div id="card">
    <div id="card-info">
      <h1 class="title is-3">Daily Checkups</h1>
      <p class="card-desc">
        With this feature, you can easily keep track of your overall health and
        well-being on a daily basis by answering a simple checkup once you
        login.
      </p>
    </div>
    <div id="card-img">
      <img src="{{ url_for('static', filename='img/card-1.png') }}" />
    </div>
  </div>
  <div id="card">
    <div id="card-info">
      <h1 class="title is-3">Daily Journal</h1>
      <p class="card-desc">
        With this feature, you can easily document your daily activities,
        experiences and feelings in a simple and organized way. This is a place
        you can seek whenever you feel emotional.
      </p>
    </div>
    <div id="card-img">
      <img src="{{ url_for('static', filename='img/card-2.png') }}" />
    </div>
  </div>
  <div id="card">
    <div id="card-info">
      <h1 class="title is-3">Review Progress</h1>
      <p class="card-desc">
        With our user-friendly chart feature, you can easily log and view how
        you've been feeling and track any changes in your mood or emotional
        state. By using this feature, you can gain valuable insights into your
        emotional patterns and take control of your mental health.
      </p>
    </div>
    <div id="card-img">
      <img src="{{ url_for('static', filename='img/card-3.png') }}" />
    </div>
  </div>
  <div id="card">
    <div id="card-info">
      <h1 class="title is-3">Meditation Timer</h1>
      <p class="card-desc">
        Easily start a timer and meditate while listening to a relaxing music.
        Simply select your desired duration, and let the timer guide you through
        your meditation practice. This feature is perfect to reduce stress,
        improve focus, and enhance overall well-being.
      </p>
    </div>
    <div id="card-img">
      <img src="{{ url_for('static', filename='img/card-4.png') }}" />
    </div>
  </div>
</div>
