<footer class="footer custom-footer">
  <div class="content has-text-centered">
    <p id="footer-text">
      <strong>Mindease</strong> by
      <a href="https://github.com/bigcbull" target="_blank">Ahmed Abbasi</a>,
      <a href="https://github.com/shuaybw" target="_blank">Shuayb Warsame</a>,
      <a href="https://github.com/mohammed-alkateb" target="_blank"
        >Mohammed Alkateb</a
      >,
      <a href="https://github.com/MoNourH" target="_blank"
        >Mohamed Nour Humeidi</a
      >,
      <a href="https://github.com/josephhammami" target="_blank"
        >Joseph Hammami</a
      >.
    </p>
    <p id="footer-text">
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php" target="_blank"
        >MIT</a
      >
      & it can be found
      <a href="https://github.com/bigcbull/mindease" target="_blank">here</a>.
    </p>
  </div>
</footer>
