<nav
  class="navbar navbar-custom"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src="{{ url_for('static', filename='img/logo-white.png') }}"
        id="home-logo"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item nav-hover" href="/"> Home </a>
      <a class="navbar-item nav-hover" href="/analysis">
        Psychologist Portal
      </a>
      <a class="navbar-item nav-hover" href="/aboutus"> About Us </a>
      <a
        class="navbar-item nav-hover"
        href="https://github.com/bigcbull/mindease"
        target="_blank"
      >
        Github
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% if session['user_id'] %}
        <div class="buttons">
          <a class="button custom-green-btn" href="/myspace">
            <strong>My Space</strong>
          </a>
          <a class="button is-light custom-light-btn" href="/logout">
            Logout
          </a>
        </div>
        {% else %}
        <div class="buttons">
          <a class="button custom-green-btn" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light custom-light-btn" href="/login"> Log in </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
