{% extends 'space.html' %} {% block space %}
<div id="myspace-main-data">
  <div id="myspace-main-quote">
    <h4 class="title is-4">Assertion 🥰</h4>
    <h5 class="subtitle is-5" id="assertion">{{ data.assertion }}</h5>
    <button id="assertion-new" class="button is-small">
      Love me some more 💚
    </button>
  </div>
  <div id="myspace-main-key">
    <h4 class="title is-4">Shareable Key 🔑</h4>
    <div id="myspace-main-key-container">
      <h5 class="subtitle is-5" id="key-container">
        {{ data.doctor_key.doctor_key }}
      </h5>
      <button id="key-copy" class="button is-warning">Copy</button>
    </div>
  </div>
</div>
<div id="myspace-main-data2">
  <div id="myspace-main-metrics">
    <h4 class="title is-4">Mood Metrics 🎭</h4>
    <h4 class="subtitle is-4" id="metrics-none"></h4>
  </div>
  <div id="myspace-main-timer">
    <h4 class="title is-4">Meditation Timer 🪷</h4>
    <div class="clock-wrap">
      <div class="clock pro-0">
        <span class="count">0</span>
      </div>
    </div>
    <div class="action">
      <div class="time-section">
        <input
          class="input-num"
          type="number"
          min="1"
          max="60"
          placeholder="Enter Minute"
        /><input
          data-action="start"
          class="input-btn"
          type="button"
          value="Start"
          id="timer-btn"
        />
      </div>
    </div>
    <audio
      id="background_audio"
      src="{{ url_for('static', filename='audio/1.mp3') }}"
      loop
    ></audio>
  </div>
</div>
{% endblock %}
